@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif CJK SC", "Source Han Serif SC", serif;
  line-height: 1.7;
  font-size: 1em;
  margin: 0.6em 0;
  text-align: justify;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin: 1.5em 0 1em 0;
  font-weight: bold;
  page-break-before: always;
}

p {
  text-indent: 2em;
  margin: 0.4em 0;
}

/* 卷分隔页 */
h1.volume-title {
  font-size: 2.2em;
  margin: 40% 0 0 0;
  text-align: center;
  page-break-before: always;
  page-break-after: always;
}
